{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "no-unused-vars": 0,
    "max-len": ["error", { "code": 80 }],
    "react/prop-types": [2],
    "class-methods-use-this": 0,
    "import/extensions": 0,
    "linebreak-style": 0,
    "no-param-reassign": 0,
  },
  "extends": ["airbnb-base"],
  "globals": {
    "localStorage": true,
    "window": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
