{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-vars": 0,
    "max-len": ["error", { "code": 80 }],
    "react/prop-types": [2],
    "linebreak-style": ["error", "windows"],
    "class-methods-use-this": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0
  },
  "extends": ["airbnb-base"]
}