.inputBox {
  position: relative;
  margin: 10px 0;
}

.label {
  margin: 0;
}

.input {
  border: 1px solid #000000;
  width: 100%;
  padding: 10px;
  outline: none;
  transition: .5s;
}

.submit {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  color: #ffffff;
  border: 2px solid #000000;
  background-color: #000000;
  transition: .5s;
}

.input:focus,
.input:hover,
.submit:hover {
  box-shadow:
    0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
}