.header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.list {
  padding: 0;
  margin: 0;
}

.title {
  display: block;
  float: left;
  color: darkblue;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 20px;
}

.title:last-child {
  margin-right: 0;
}