.modalBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.filter {
  position: fixed;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,.8);
}

.box {
  position: relative;
  display: block;
  overflow: auto;
}

.closeBox {
  margin-top: 10px;
  text-align: right;
}

.close {
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}